{% extends 'store/base.html' %}
{% load static %}
{% block title %}Changement de mot de passe{% endblock %}

{% block header_title %}Changer votre mot de passe{% endblock %}
{% block header_content %}
    <style type="text/css">
        header.masthead{
            padding-bottom: 0;
            min-height: 94vh;
        }
    </style>
    <div class="col-md-4 offset-md-4 align-center text-left text-white">
        <form method="post">
            <div id="message">
                {% if messages %}
                    {% for message in messages %}
                    <p class="message rounded alert alert-danger">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% csrf_token %}
            <label for="id_old_password">Ancien mot de passe:</label>
            <input class="form-control" type="password" id="id_old_password" value="{{account_change_password_form.old_password.value}}" name="old_password" autocomplete="new-password" required="">
            <br>
            {% if account_change_password_form.old_password.errors %}{{ account_change_password_form.old_password.errors }} {% endif %}
            <label for="id_new_password1">Nouveau mot de passe:</label>
            <input class="form-control" type="password" id="id_new_password1" value="{{account_change_password_form.new_password1.value}}" name="new_password1" required="" >
            <br>
            {% if account_change_password_form.new_password1.errors %}{{ account_change_password_form.new_password1.errors }} {% endif %}
            <label for="id_new_password2">Confirmation du nouveau mot de passe:</label>
            <input class="form-control" type="password" id="id_new_password2" value="{{account_change_password_form.new_password2.value}}" name="new_password2" required="" >
            <br>
            {% if account_change_password_form.new_password2.errors %}{{ account_change_password_form.new_password2.errors }} {% endif %}
            <br>
            <input type="submit" value="Valider"/><br><br>
            <span>Je me <a href= "{% url 'accounts:login' %}">connecte</a> à mon compte!</span>
        </form>
    </div>
{% endblock %}