{% autoescape off %}
Chère {{ user.get_username }},
Ne tenez pas compte de la suite de ce mail, si vous n'êtes pas à l'initiative de la demande de réinitialisation du mot de passe de votre compte
{{ user.get_username }} sur le site Pur Beurre.

Sinon:
Pour lancer le processus de réinitialisation du mot de passe de votre compte {{ user.get_username }} sur site Pur Beurre,
cliquer le lien suivant:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Si le lien ci-dessus ne fonctionne pas, veuillez copier et coller ce lien dans la barre d'URL dans une fenêtre de votre
navigateur.

Cordialement,

L'administateur "Pur beurre"

{% endautoescape %}
