{% extends 'store/base.html' %}
{% load static %}
{% block title %}Mot de passe changé avec succès !{% endblock %}

{% block header_title %}Votre mot de passe à été changé avec succès !{% endblock %}
{% block header_content %}
    <style type="text/css">
        header.masthead{
            padding-top: 100px;
            padding-bottom: 0;
            min-height: 94vh;
        }
    </style>
    <div class="col-md-4 offset-md-4 align-center text-left text-white">
        <span>Votre mot de passe à été changé avec succès ! </span><br>
        <span>Je me <a href= "{% url 'accounts:login' %}">connecte</a> à mon compte!</span>
    </div>
{% endblock %}